.main-window {
    width: 95%;
    margin: 32px auto auto;
    max-width: 1200px;
}

h3 {
    margin: 0.5em 0;
}

#question {
    font-family: Arial, sans-serif;
}

#imagesDiv > fieldset {
    width: 100%;
    height: 300px;
}

.hidden {
    visibility: hidden;
}

img {
    display:block;
    max-width:250px;
    margin:10px auto;
    border:1px solid #ccc;
    width:100%;
    height:auto;
}

#submitbutton {
    margin: 10px auto auto;
}

.answer, .submit {
    display:block;
    text-align:center;
    margin:8px auto;
    padding:10px 0;
    border:1px solid #666;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.correct {
    background-color: rgb(160, 206, 164)
}

.incorrect {
    background-color: rgb(206, 160, 160);
}