button {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    min-width: 75px;
    min-height: 23px;
    padding: 0 12px;
}

.bg-image {
    position: fixed;
    z-index: -10;
}

.not-logged .bg-image {
    display: none;
}

.white-background {
    background-color: white;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.mt-5 {
    margin-top: 5px;
    width: 90%;
    margin-left: 5px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-2 {
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-8 {
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.main-window {
    width: 95%;
    margin: 32px auto auto;
    max-width: 1200px;
}

#login-window {
    max-width: 600px;
    margin: 100px auto auto;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #00807F;
}

h4 {
    margin: 0.5em 0;
}

.black {
    color: black !important;
    float: right;
}

.login-field {
    max-width: 80%;
    justify-content: space-between;
}

#question {
    font-family: Arial, sans-serif;
}

#imagesDiv > fieldset {
    width: 100%;
}

.groupbox-margin {
    margin-top: 6px;
}

.image-container {
    height: 400px;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#submitbutton {
    margin: 10px auto auto;
}

.answer, .submit {
    display:block;
    text-align:center;
    margin:8px auto;
    padding:10px 0;
    border:1px solid #666;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.correct {
    background-color: rgb(160, 206, 164)
}

.incorrect {
    background-color: rgb(206, 160, 160);
}

.collapsed {
    display: none;
}

.hidden {
    visibility: hidden;
}