.main-window {
    width: 95%;
    margin: 32px auto auto;
    max-width: 1200px;
}

h4 {
    margin: 0.5em 0;
}

#question {
    font-family: Arial, sans-serif;
}

#imagesDiv > fieldset {
    width: 100%;
}

.groupbox-margin {
    margin-top: 6px;
}

.image-container {
    height: 300px;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#submitbutton {
    margin: 10px auto auto;
}

.answer, .submit {
    display:block;
    text-align:center;
    margin:8px auto;
    padding:10px 0;
    border:1px solid #666;
    cursor:pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.correct {
    background-color: rgb(160, 206, 164)
}

.incorrect {
    background-color: rgb(206, 160, 160);
}

.collapsed {
    display: none;
}

.hidden {
    visibility: hidden;
}